body {
  font-family: "Richard Miller", sans-serif;
}

#bottom-details-bar {
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.4); /* Changed background color to semi-transparent white */
  backdrop-filter: blur(20px); /* Frosted glass effect - Increased blur */
  -webkit-backdrop-filter: blur(20px); /* Safari support - Increased blur */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle light border */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Subtle shadow */
}

.glass-effect::before {
  content: '';
  position: absolute;
  top: -2px; /* Adjust to control border thickness */
  left: -2px; /* Adjust to control border thickness */
  right: -2px; /* Adjust to control border thickness */
  bottom: -2px; /* Adjust to control border thickness */
  background: linear-gradient(45deg, rgba(15, 153, 212, 0.6) , rgba(180, 180, 180, 0.4),rgba(176, 59, 59, 0.6) ); /* More visible glass-like gradient */
  background-size: 300% 300%; /* Increased size for smoother gradient */
  animation: gradient-animation 10s ease infinite; /* Increased duration for smoother animation */
  z-index: -1; /* Place behind the main content */
  border-radius: inherit; /* Inherit border-radius from parent */
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#main-banner {
  background-image:
    radial-gradient(circle at 20% 30%, rgba(139, 69, 19, 0.2) 0%, rgba(139, 69, 19, 0) 50%), /* Brown circle */
    radial-gradient(circle at 80% 70%, rgba(192, 192, 192, 0.3) 0%, rgba(192, 192, 192, 0) 50%), /* Silver circle */
    radial-gradient(circle at 50% 50%, rgba(139, 69, 19, 0.25) 0%, rgba(139, 69, 19, 0) 50%), /* Another brown circle */
    radial-gradient(circle at 30% 80%, rgba(192, 192, 192, 0.25) 0%, rgba(192, 192, 192, 0) 50%), /* Another silver circle */
    linear-gradient(to bottom right, #E0D9CD, #C8BFB1, #E0D9CD); /* Keep the original linear gradient as a base */
  background-size: 400% 400%, 400% 400%, 400% 400%, 400% 400%, 400% 400%; /* Set size for each layer (added one more) */
  animation: radial-move 6s ease infinite; /* Apply new animation - Reduced duration */
  /* Keep existing background color as a fallback */
  background-color: #D4CCBF;
}

@keyframes radial-move {
  0% { background-position: 0% 0%, 100% 100%, 50% 50%, 30% 80%, 0% 0%; }
  50% { background-position: 50% 100%, 0% 0%, 100% 50%, 80% 30%, 50% 50%; }
  100% { background-position: 0% 0%, 100% 100%, 50% 50%, 30% 80%, 0% 0%; }
}